---
const links = [
  { href: "/", text: "Home" },
  { href: "/product", text: "Product" },
  { href: "/promo", text: "Promo" },
  { href: "/about", text: "About" },
  { href: "/contact", text: "Contact" },
];

const year = new Date().getFullYear();
---

<nav
  class="flex justify-between items-center px-8 text-white fixed
  w-full shadow-md z-10 bg-gray-800 p-4"
>
  <a href="/" class="flex items-center">
    <img src="/logo.png" class="w-72 h-24" alt="" />
  </a>
  <div class="hidden md:flex">
    {
      links.map((link) => (
        <a href={link.href} class="text-3xl px-4 hover:opacity-75">
          {link.text}
        </a>
      ))
    }
  </div>
  <button> Idioma </button>
  <button
    id="menuButton"
    class="md:hidden p-2 rounded-full hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-menu"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M4 8h16"></path><path d="M4 16h16"></path></svg
    >
  </button>
</nav>

<div
  id="mobileMenu"
  class="fixed top-0 right-0 w-full h-full bg-gray-800 text-white p-4 transform translate-x-full transition-transform origin-right z-50 flex flex-col"
>
  <button
    id="closeMenuButton"
    class="p-2 rounded-full hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 absolute top-4 right-4"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-x"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M18 6L6 18"></path><path d="M6 6l12 12"></path></svg
    >
  </button>
  <div class="flex flex-col items-center mt-16 space-y-8 flex-grow">
    <div class="flex items-center">
      <img src="/logo.png" class="w-48 h-16" alt="Logo" />
    </div>
    <div class="text-4xl font-bold">Menu</div>
    <div class="flex flex-col items-center space-y-4 flex-grow">
      {
        links.map((link) => (
          <a href={link.href} class="text-3xl py-2 hover:opacity-75">
            {link.text}
          </a>
        ))
      }
    </div>
    <div class="mt-auto">
      <p class="text-center text-xl">&copy; {year} Prometheus</p>
    </div>
  </div>
</div>

<script>
  const menuButton = document.getElementById("menuButton");
  const closeMenuButton = document.getElementById("closeMenuButton");
  const mobileMenu = document.getElementById("mobileMenu");
  if (menuButton && mobileMenu && closeMenuButton) {
    menuButton.addEventListener("click", () => {
      mobileMenu.classList.toggle("translate-x-full");
    });
    closeMenuButton.addEventListener("click", () => {
      mobileMenu.classList.toggle("translate-x-full");
    });
  }
</script>
