---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const packages = [
  {
    name: "Basic",
    price: 10,
    features: ["1 User", "10GB Storage", "Email Support", "Help Center Access"],
    image: "/Iconos/Medalla.webp",
  },
  {
    name: "Pro",
    price: 20,
    features: [
      "5 Users",
      "50GB Storage",
      "Priority Email Support",
      "Help Center Access",
    ],
    image: "/Iconos/Medalla.webp",
  },
  {
    name: "Enterprise",
    price: 30,
    features: [
      "Unlimited Users",
      "150GB Storage",
      "Phone & Email Support",
      "Help Center Access",
    ],
    image: "/Iconos/Medalla.webp",
  },
];
---

<section class="flex justify-center items-center min-h-screen bg-gray-50 py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-5xl font-bold text-center text-gray-900 mb-6">
      {t("work.title")}
    </h1>
    <p class="text-center text-gray-600 text-lg mb-12">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, animi!
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {
        packages.map((pkg) => (
          <div class=" text-gray-800 shadow-xl rounded-xl overflow-hidden transform transition-all duration-300 hover:scale-105 hover:shadow-2xl">
            <div class="p-8 flex flex-col items-center">
              <h2 class="text-3xl font-bold text-center text-gray-900 mb-4">
                {pkg.name}
              </h2>
              <img
                src={pkg.image}
                alt={pkg.name}
                class="w-24 h-24 object-cover mb-6"
              />
              <p class="text-4xl font-bold text-center text-gray-900 mb-6">
                ${pkg.price}
                <span class="text-lg font-normal text-gray-600">/mo</span>
              </p>
              <ul class="space-y-3 mb-8">
                {pkg.features.map((feature) => (
                  <li class="flex items-center justify-center text-gray-600">
                    <span class="ml-2">{feature}</span>
                  </li>
                ))}
              </ul>
              <button class="w-full bg-green-500 text-white font-semibold py-3 rounded-lg hover:bg-green-600 transition-colors duration-300">
                Choose Plan
              </button>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
