---
import { ClientRouter } from "astro:transitions";
import "@fontsource/bebas-neue";
import "@fonts/MYRIADPRO-REGULAR.woff";
import Header from "@Components/Header.astro";
import Footer from "@Components/Footer.astro";
import { getLangFromUrl } from "src/i18n/utils";

interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Logo2.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={Astro.url} />
    <meta name="description" content={description} />
    <meta name="author" content="PrometheusTij" />
    <meta name="keywords" content={keywords} />
    <meta name="robots" content="index, follow" />
    <meta name="publisher" content="PrometheusTij" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://prometheustij.com/ogImage.png" />
    <meta property="og:url" content="https://prometheustij.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="https://prometheustij.com/" />
    <meta
      name="google-site-verification"
      content="GExUNFmJDSMw7Nb_yoabt-80oVorKEkOcGO2eQ_4aHg"
    />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="overflow-x-hidden">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  p,
  li,
  ul,
  input,
  textarea {
    font-family: "Myriad Pro", sans-serif;
  }

  body {
    font-family: "Bebas Neue", sans-serif;
  }
</style>
